@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: url("https://images.unsplash.com/photo-1517299321609-52687d1bc55a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
	background-size: cover;
	background-position: center center;
	min-height: 100vh;

	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}